@keyframes downscroll {
  50% {
    color: rgb(30, 169, 224);
  }
  65% {
    color: rgb(177, 29, 103);
  }
}

.first_section {
  font-family: "Bebas Neue", sans-serif;
  width: 90vw;
  display: flex;
  flex-direction: column;
  animation: downscroll linear;
  animation-timeline: view();
  animation-range: entry 1% cover 100%;
  
 
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center ;
}
.middle-text {
  writing-mode: vertical-rl;
  letter-spacing: 5px;
text-orientation: upright;
}

.first_name {
  perspective: 600px;
  margin: 100px;
}

.first_name .child {
  letter-spacing: -2px;
  font-size: 12vw;
  font-weight: bold;
  line-height: 2vw;
  text-align: right;
  transform-origin: right;
  transform: rotateY(-40deg);
  transition-duration: 0.4s;

}

body {
  background-color: rgb(0, 0, 0);
}

.second_name {
  perspective: 600px;

  margin: 100px;
}
.second_name .child {
  letter-spacing: -2px;
  font-size: 12vw;
  font-weight: bold;
  line-height: 2vw;
  text-align: left;
  transform-origin: left;
  transform: rotateY(40deg);
  transition-duration: 0.4s;

}